<p id="notice"><%= notice %></p>
<div id="left">
	<h1><%= @user.name %></h1>
	<h2>Projects working on:</h2>
	<% @user.projects.each do |project| %>
		<p><%= link_to project.name, project %>: <%= project.description %></p>
	<% end %>
	<br/>
	<h2>Recent Blogs</h2>
	<% @user.blogs.each do |blog| %>
		<h3><%= blog.name %></h3>
		<p><%= blog.message %></p>
	<% end %>
	<% if session[:user_id] != nil && @user == current_user %>	
		<% form_for(@blog) do |f|%>
			<div class="field">
				<%= f.label :name %><br />
				<%= f.text_field :name%>
			</div>
			<div class="field">
				<%= f.label :message %> <br/>
				<%= f.text_area :message, :rows =>3 %>
			</div>
			<div class="action">
				<% params[:user_id] = session[:user_id]%>
				<%= f.submit %>
			</div>
		<% end %>
	<% end %>
</div>
<div id="right">
	<div class="box">
		<h3>About <%= @user.name%></h3>
		<p><%= @user.description %></p>
	</div>
</div>

