<div id="left">
	<p id="notice"><%= notice %></p>
	<h1><%= @project.name %></h1> 
	<% if session[:user_id] != nil && !@project.users.member?(current_user) %>
		<%= link_to "Join", join_url %>
	<% end %>

	<% @project.blogs.each do |blog| %>
		<h2><%= blog.name %></h2>
		<p><%= blog.message %></p>
	<% end %>
	<% if session[:user_id] != nil && @project.users.member?(current_user) %>	
		<% form_for(@blog) do |f|%>
			<div class="field">
				<%= f.label :name %><br />
				<%= f.text_field :name%>
			</div>
			<div class="field">
				<%= f.label :message %> <br/>
				<%= f.text_area :message, :rows =>3 %>
			</div>
			<div class="action">
				<% session[:project_id] = @project.id %>
				<% params[:user_id] = session[:user_id]%>
				<%= f.submit %>
			</div>
		<% end %>
	<% end %>
</div>
<div id="right">
	<div class="box">
		<h3>About <%= @project.name %></h3>
		<p><%= @project.description %></p>
		<br />
		<% if @project.users.size != 0 %>
			<h3>Users</h3>
			<% @project.users.each do |user| %>
				<%= link_to "#{user.name}, ", user %>
			<% end %>
		<% end %>
	</div>
</div>
